venv/
airflowenv/
__pycache__/
*.pyc
*.pyo
.env
logs/
*.log
airflow/airflow.cfg
airflow/airflow.db
airflow/webserver_config.py
airflow/standalone_admin_password.txt
airflow/logs/
spark-*-bin-hadoop3/
spark-*.tgz
.vscode/
.idea/
.DS_Store
Thumbs.db
